@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    position: relative;
    background-color: #010B19;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: rgb(1, 11, 25, .75);
    backdrop-filter: blur(8px);
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75px;
    z-index: 1;
}

.logo img {
    height: 70px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

nav ul li {
    align-items: center;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #9aa5ce;
}

.home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: whitesmoke;
}

.home img {
    width: 300px;
}

.intro1 {
    font-weight: normal;
    font-size: 35px;
}

.intro2 {
    font-weight: 900;
    font-size: 40px;
}

.intro3 {
    font-weight: 100;
    font-size: 20px;
    color: #9aa5ce;
}

.about, .projects {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    height: 600px;
    color: whitesmoke;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;

}

.contacts h1 {
    margin-bottom: 100px;

}
.contacts ul li a {
    text-decoration: none;
    list-style: none;
}

.contacts ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text {
    width: 65%;
}

.textintro {
    height: fit-content;
    width: 65%;
}

a {
    margin: 10px;
    
}

a:hover {
    color: whitesmoke;
    transition: all .3s ease;
}

h1 {
    color: #9aa5ce;
}

.icon {
    color: #9aa5ce;
    width: 150px;
}

@media (max-width: 768px) {
    nav ul {
        width: 50%;
    }

    .contacts ul {
        flex-direction: column;
    }

}

@media screen and (max-width: 576px) {
    nav ul {
        display: none;
    }
}